<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>428-4289579_explosion-sprite-png-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{84,75}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1807,1},{84,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{132,213}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1767,507},{132,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1,254},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{259,1},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1,507},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1,760},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{259,254},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{517,1},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{259,507},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{259,760},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{517,254},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{160,229}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1725,750},{160,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{775,1},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{517,507},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{517,760},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{775,254},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1033,1},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{775,507},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{775,760},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1033,254},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1291,1},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1033,507},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-7}</string>
                <key>spriteSize</key>
                <string>{194,237}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1529,758},{194,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1033,760},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{220,241}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1545,507},{220,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{236,245}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1291,758},{236,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{248,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1549,254},{248,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{252,249}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1291,507},{252,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1291,254},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>428-4289579_explosion-sprite-png-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{1549,1},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{1900,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:257f29d9afc87ef73515014603d419fa:8b5ff400757ab06826fce1c0a03f8cb7:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
